<div class="parCollection">
  <div class="grid">
    <div class="productListingWrap">
      <ul class="parallaxListing">
        {%for product in collection.products%}
          {%include 'product-thumb-parallax'%}
        {%endfor%}
      </ul>
    </div>
  </div>
</div>
