<div class="sectionWrap halfGutter collectionTitle">
  <div class="grid flexGrid gridJustify centerColumns">
    <div class="half flexItem ieFlexFix">
      <h1 class="genHeading">{{page.title}}</h1>
      <div class="rte leftAlign">{{page.content}}</div>
    </div>
  </div>
</div>



